// Import
@import './src/framework/_grid';
@import './src/framework/_columns';
@import './src/framework/_direction';
@import './src/framework/_display';
@import './src/framework/_spacing';
@import './src/framework/_sizing';

// Variable by default
$columns: true !default;
$sizing: true !default;

$grid: false !default;
$order: false !default;
$direction: false !default;
$display: false !default;
$spacing: false !default;

// Grid
@if($grid){
    @include make-grid-display();
}

// Columns
@if($columns){
    @include make-grid-columns();
}

// Order
@if($order){
    @include make-grid-order();
}

// Direction
@if($direction){
    @include make-direction();
}

// Display
@if($display){
    @include make-display();
}

// Spacing
@if($spacing){
    @include make-spacing();
}