.container{
    @include container(true);
    @include container-max-widths();
}

.container-fluid{
    @include container(true);
}

.row{
    @include flex-row();

    .no-gutters {
        margin-right: 0;
        margin-left: 0;

        > .col,
        > [class*="col-"] {
          padding-right: 0;
          padding-left: 0;
        }
    }
}

.clearfix{
    @extend %clearfix;
}

.full-link{
    @extend %full;
}

.img-fluid{
    @extend %img-fluid;
}

.visible {
    @include invisible(visible);
}

.invisible {
    @include invisible(hidden);
}

.w-homothetic{
    @extend %img-homothetic-init;
    &__image{
        @extend %img-homothetic-inner;
    }
}