@import './_naked-dauphine';

.container{
    @include container(true);
    @include container-max-widths();
}

.container-fluid{
    @include container(true);
}

.row{
    @include flex-row();

    .no-gutters {
        margin-right: 0;
        margin-left: 0;

        > .col,
        > [class*="col-"] {
          padding-right: 0;
          padding-left: 0;
        }
    }
}

.clearfix{
    @include clearfix();
}

.full-link{
    @include full();
}

.img-fluid{
    @include img-fluid();
}

.visible {
    @include invisible(visible);
}

.invisible {
    @include invisible(hidden);
}


