@mixin make-grid-display{

  %grid-display{
    display: grid;
    grid-gap: $grid-gutter-width;
  }

  @each $breakpoint in map-keys($grid-breakpoints) {

    @if $breakpoint != 'xsm' {

      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      @for $i from 2 through 4 {
        .w-grid#{$infix}-#{$i} {
          @extend %grid-display;
        }
      }

      @include breakpoint($breakpoint, $grid-breakpoints) {

        @for $i from 2 through 4 {
          .w-grid#{$infix}-#{$i} {
            grid-template-columns: repeat($i, 1fr);
          }

          .w-grid#{$infix}-#{$i} {
            grid-template-columns: repeat($i, 1fr);
          }

          .w-grid#{$infix}-#{$i} {
            grid-template-columns: repeat($i, 1fr);
          }
        }

      }

    }
  }
}
