/*

Created by: https://getbootstrap.com/

*/

@mixin spacing($infix){
  // Some special margin utils
  .m#{$infix}-auto { margin: auto !important; }
  .mt#{$infix}-auto {
    margin-top: auto !important;
  }
  .mr#{$infix}-auto{
    margin-right: auto !important;
  }
  .mb#{$infix}-auto{
    margin-bottom: auto !important;
  }
  .ml#{$infix}-auto{
    margin-left: auto !important;
  }
}

@mixin make-spacing {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include breakpoint($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      @if $breakpoint != 'xsm' and $breakpoint != 'xlg'{
        @include spacing($infix);
      }
    }
  }
  @include breakpoint-max(sm){
    @include spacing('-xs');
  }
}