%naked{ padding:0; margin:0; list-style:none; list-style-image:none; }

%b{ font-weight:bold; }
%i{ font-style:italic; }
%u{ text-decoration:underline; }
%weight-normal{ font-weight:normal; }

%uc{ text-transform:uppercase; }
%lc{ text-transform:lowercase; }
%nc{ text-transform:none; }

%txt-center{ text-align:center; }
%txt-left{ text-align:left; }
%txt-right{ text-align:right; }
%txt-justify{ text-align:justify; }

%absolute-full{ position:absolute; top:0; left:0; right:0; bottom:0; }
@mixin absolute-full(){
  @extend %absolute-full;
}

@mixin center($position) {
  position: absolute;
  @if $position == 'vertical' {
    top: 50%;
    transform: translateY(-50%);
  }
  @else if $position == 'horizontal' {
    left: 50%;
    transform: translate(-50%);
  }
  @else if $position == 'both' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin center-vertical(){
  @include center(vertical);
}

@mixin center-horizontal(){
  @include center(horizontal);
}

@mixin center-both(){
  @include center(both);
}

%full {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
@mixin full(){
  @extend %full;
}

%bg-center {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin bg-center(){
  @extend %bg-center;
}

%img-fluid {
  max-width: 100%;
  height: auto;
}
@mixin img-fluid(){
  @extend %img-fluid;
}

%img-homothetic-init {
  position: relative;
  overflow: hidden;
  &:after{
    content: "";
    display: block;
  }
}
@mixin img-homothetic-init(){
  @extend %img-homothetic-init;
}
@mixin bg-homothetic-init(){
  @extend %img-homothetic-init;
}

@mixin img-homothetic($value, $breakpoint:null){
  &:after{
    @if $breakpoint {
      @include breakpoint($breakpoint){
        padding-top: $value;
      }
    }
    @else {
      padding-top: $value;
    }
  }
}

@mixin bg-homothetic($value, $breakpoint){
  @include img-homothetic($value, $breakpoint);
}


%img-homothetic-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
@mixin img-homothetic-inner(){
  @extend %img-homothetic-inner;
}

%bg-homothetic-inner {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
@mixin bg-homothetic-inner(){
  @extend %bg-homothetic-inner;
}