@import '../../_naked-dauphine';

html{  font-family:"Lucida Grande", Tahoma, Verdana, Arial, sans-serif; @include type(16px, 28px, 1.14); }

body{
  padding-bottom: 100px;
}

.box {
  margin-bottom:rem(40);
  .box-head{ @include txt-center; }
}

code {
    background: #eee;
    border: rem(1) solid #ddd;
    border-radius: rem(3);
    color: #aaa;
    display: block;
    font-family: monospace;
    white-space: pre-wrap;
    width: 100%;
}


//Playground
.play-wrap{
  padding-bottom:rem(50);
  @include clearfix;
}

.props{
  font-family: monospace;
  border-radius: rem(3);
  margin:rem(5) 0;
  background: #efefef;
  font-size:rem(14);
}

.inner{
  background-color: grey;
  height: 50px;
  margin-bottom: 30px;
}

.w-image{
  @include img-homothetic-init();
  @include img-homothetic(60%, xs);
  @include img-homothetic(26%, sm);
  @include img-homothetic(30%, md);
  @include img-homothetic(35%, md);
  .image{
    @include img-homothetic-inner();
  }
}